<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Menerima variable 'name' dari API -->
    <h1>Hello, my name is {{name}}</h1>
    
    <!-- Menentukan hujan atau tidak -->
    {% if condition == True %}
        <h3>Today is raining</h3>
    {% else %}
        <h3>Today is not raining</h3>
    {% endif %}

    <!-- Menampilkan list todo -->
    <ul>
        {% for todo in mytodo %}
            <li>{{todo}}</li>
        {% endfor %}
    </ul>

    <!-- Menampilkan form -->
    {% block form %}
    
    {% endblock  %}

</body>
</html>