{% extends 'index.html' %}
{% block content %}

    <!-- Controller -->
    <form action="{{ url_for('cat_fn') }}" id='form'>
        <div class="row d-flex justify-content-around" >
            <!-- Model Plot -->
            <select class="col-2 form-control" name="cat_plot" onchange="form.submit()">
                {% if focus_plot == 'histoplot' %}
                    <option value="histoplot" selected='selected'>Histogram</option>
                    <option value="boxplot">Box</option>
                {% else %}
                    <option value="histoplot">Histogram</option>
                    <option value="boxplot" selected='selected'>Box</option>
                {% endif %}
            </select>

            <!-- Sumbu X -->
            <select class="col-2 form-control" name="cat_x" onchange="form.submit()">
                {% if focus_x == 'sex'%}
                    <option value="sex" selected='selected'>Sex</option>
                    <option value="smoker">Smoker</option>
                    <option value="day">Day</option>
                    <option value="time">Time</option>
                {% elif focus_x == 'smoker' %}
                    <option value="sex">Sex</option>
                    <option value="smoker" selected='selected'>Smoker</option>
                    <option value="day">Day</option>
                    <option value="time">Time</option>
                {% elif focus_x == 'day' %}
                    <option value="sex">Sex</option>
                    <option value="smoker" >Smoker</option>
                    <option value="day" selected='selected'>Day</option>
                    <option value="time">Time</option>
                {% elif focus_x == 'time' %}
                    <option value="sex">Sex</option>
                    <option value="smoker">Smoker</option>
                    <option value="day">Day</option>
                    <option value="time" selected='selected'>Time</option>
                {% endif %}
            </select>

            
            <!-- Sumbu Y -->
            <select class="col-2 form-control" name="cat_y" onchange="form.submit()">
                <option value="total_bill">Total Bill</option>
                <option value="tip">Tip</option>
                <option value="size">Size</option>
            </select>

            <!-- Estimator -->
            <select class="col-2 form-control" name="estimator" onchange="form.submit()">
                <option value="count">Count</option>
                <option value="sum">Sum</option>
                <option value="avg">Average</option>
                <option value="min">Minimum</option>
                <option value="max">Maximum</option>
            </select>
        </div>
    </form>

    <!-- Plot -->
    <div class="chart mt-4" id="plot">
        <script>
            var graphs = {{plot | safe}};
            Plotly.plot('plot',graphs,{});
        </script>
    </div>
{% endblock  %}