<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
    <h1 class="text-center display-4 my-5">Tips Dashboard</h1>

    <div class="container">

        <!-- Navigasi -->
        <ul class="my-4 nav nav-pills nav-fill">
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark lead" href="{{ url_for('cat_fn') }}">Histogram & Box</a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark lead" href="{{ url_for('scatt_fn') }}">Scatter</a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark lead" href="{{ url_for('pie_fn') }}">Pie</a>
            </li>
        </ul>

        <!-- Content -->
        
        {% block content %}
        <!-- BLANK SPACE -->
        {% endblock %}
        



    </div>

</body>
</html>