<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELECTED</title>
    <link rel="stylesheet" href="./static/bootstrap.css">
</head>
<body>
    
    <div class="container">
        <div class="row">
            <select class=" col-4 mt-5 form-control" >
                <option >Merica</option>
                <option >Cabai</option>
                <option selected >Jahe</option>
                <option >Kunyit</option>
            </select>
        </div>
    </div>


</body>
</html>