{% extends 'index.html' %}
{% block content %}
    <form action="{{ url_for('scatt_fn') }}" id='form'>
        <div class="row d-flex justify-content-around" >

            <!-- Sumbu X -->
            <select class="col-2 form-control" name="cat_x" onchange="form.submit()">
                {% if focus_x == 'total_bill' %}
                    <option value="total_bill" selected>Total Bill</option>
                    <option value="tip">Tip</option>
                    <option value="size">Size</option>
                {% elif focus_x == 'tip' %}
                    <option value="total_bill" >Total Bill</option>
                    <option value="tip" selected>Tip</option>
                    <option value="size">Size</option>
                {% elif focus_x == 'size' %}
                    <option value="total_bill">Total Bill</option>
                    <option value="tip">Tip</option>
                    <option value="size" selected>Size</option>
                {% endif %}
            </select>

            
            <!-- Sumbu Y -->
            <select class="col-2 form-control" name="cat_y" onchange="form.submit()">
                {% if focus_y == 'total_bill' %}
                    <option value="total_bill" selected>Total Bill</option>
                    <option value="tip">Tip</option>
                    <option value="size">Size</option>
                {% elif focus_y == 'tip' %}
                    <option value="total_bill" >Total Bill</option>
                    <option value="tip" selected>Tip</option>
                    <option value="size">Size</option>
                {% elif focus_y == 'size' %}
                    <option value="total_bill">Total Bill</option>
                    <option value="tip">Tip</option>
                    <option value="size" selected>Size</option>
                {% endif %}
            </select>

            
        </div>
    </form>

    <!-- Plot -->
    <div class="chart mt-4" id="plot">
        <script>
            var graphs = {{plot | safe}};
            Plotly.plot('plot',graphs,{});
        </script>
    </div>
{% endblock  %}